@charset "UTF-8";

a {
    color: #078d5c;
    font-weight: bold;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url(cssbackgroundimage.png);
    z-index: -1;
}


main {

    background-color: #d9c3ba;
    color: #3e1f12;
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
    z-index: 1;

}

p {
    font-style: italic;
}

footer {
    color: #3e1f12;
    text-align: center;
    background-color: rgb(255, 247, 240);
    opacity: 0.7;
    z-index: 1;
}